@model IEnumerable<BestSellingProducts.Models.GetTopFiveEveryCategory_Result>

@{
    ViewBag.Title = "About";
}

@foreach (var item in Model)
{
    <div>@item.CategoryName</div>
    <div>@item.ProductName</div>
}